{% extends 'base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
<a href="{% url 'accounts:logout' %}">Logout</a>
{% else %}
<a href="{% url 'accounts:login' %}">Login</a>
{% endif %}
<br>
<form action="{% url 'either:create' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value='New Question' background-color='blue'>
</form>
<hr>
{% for topic in topics %}
    <h2>{{ topic.title }}</h2>
    <form action="{% url 'either:detail' topic.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value='play'>
    </form>
{% empty %}
<h3>등록된 주제가 없습니다. 어서 주제를 등록하고 투기장을 여세요.</h3>
{% endfor %}
{% endblock %}